*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.text-primary{
    color: #FD6E0A;
}
.btn{
    border: 0px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
